[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "==2.7.*"
anosql = "==0.2.*"
jupyter = "==1.*"

[dev-packages]

[requires]
python_version = "3.7"
